* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
}

.background {

    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: white;
}

.main1 {
    background-position: center;
    position: absolute;
    background-size: auto;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
    background-color: black;
}

.main2 {
    background-position: center;
    position: absolute;
    background-size: auto;
    top: 11%;
    left: 6%;
    height: 78%;
    width: 88%;
    background-color: white;
}

.main3 {
    background-position: center;
    position: absolute;
    background-size: auto;
    top: 13%;
    left: 7.5%;
    height: 74%;
    width: 85%;
    background-color: red;
}

.Overlayer {
    background-color: white;
    position: absolute;
    top: 40%;
    height: 30%;
    width: 100%;
}

.Overlaye {
    background-color: black;
    position: absolute;
    top: 39%;
    height: 30%;
    width: 100%;
}


.Overlayer:hover {
    cursor: pointer;
    color: red;
    border: 2px solid black;
}



.img1 {
    position: relative;
    left: 5%;
}

.img2 {
    position: relative;
    bottom: 10%;
    left: 85%;
}

h1 {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(243, 9, 9);
    font-size: 55px;
    font-family: "Forte";
}


.img3 {
    position: absolute;
    top: -130%;
    left: 35%;
}

.h2 {
    position: inherit;
    top: 90%;
    left: 70%;
    color: white;
    font-family: "Lucy Said Ok Personal Use";
    font-weight: 100;
}

.h {
    position: absolute;
    top: 90%;
    left: 80%;
    color: white;
    font-family: "Magneto";
    font-weight: 100;
}

#img4:hover {
    position: absolute;
    top: -130%;
    left: 30%;
    transform: translate(-50%, -50%);
}







































































/* .Overlaye:hover {
    cursor: pointer;
    color: red;
    border: 2px solid black;

}
.main3:hover {
    cursor: pointer;
    color: red;
    border: 2px solid black;

}
.main2:hover {
    cursor: pointer;
    color: red;
    border: 2px solid rgb(248, 5, 5);

}
.main1:hover {
    cursor: pointer;
    color: red;
    border: 2px solid rgb(5, 5, 5);
    background-color: white;

}
.background:hover {
    cursor: pointer;
    color: red;
    border: 2px solid white;
    background-color: rgb(199, 43, 43);

} */