*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
  display: flex;
  width: 100%;
  height: 100vh;
}
#left{
  padding: 20px;
  width: 25%;
  height: 100%;
  background-color: #5dc1b5;
}
#left h4{
  text-align: center;
  color: #343333;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#left #line{
  width: 100%;
  margin-top: 10px;
  height: 3px;
  background-color: #fff;
}
#left .fileicon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}
#left .fileicon h5{
  font-weight: 500;
  font-size: 15px;
}
#left .fileicon .icons{
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.file{
  cursor: pointer;
  padding: 12px 22px;
  background-color: #95b4ac;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #4f6d65 ;
}

#left form{
  display: none;
  
}

#left form input{
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
  border: 3px solid #4f6d65;
}

#right{
  position: relative;
  font-size: 20px;
  width: 75%;
  height: 100%;
  background-color: #d8d8d8;
}
#right #rnav{
  width: 100%;
  padding: 10px;
}
#right .openfile{
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  background-color: #81a69c;
  color: white;
  border-radius: 7px;
}
.openfile i{
  margin-left: 10px;

}
.openfile i:hover{
  color:#202725;
  cursor: pointer;
}
#right textarea{
  outline: none;
  border: none;
  font-size: 20px;
  font-family: "Consolas";
  background-color: transparent;
  padding: 20px;
  width: 100%;
  height: 100%;
}
#right form{
  height: calc(100% - 70px);
  width: 100%;

}
#right #save{
  position: absolute;
  top: 1%;
  right: 3%;
  padding: 8px 17px;
  border: none;
  outline: none;
  background-color: #81a69c;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
a{
  color: #fff;
  text-decoration: none;
}
#right small{
  opacity: .4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.files #delete{
  display: flex;
  justify-content: flex-start;
  align-items: start;
}