<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login-Page</title>
  <link rel="shortcut icon" href="https://www.iconpacks.net/icons/1/free-user-login-icon-305-thumb.png"
    type="image/x-icon">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <h3>Register Now</h3>
<form action="/create" method="post">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Username" name="username">
  <input type="text" placeholder="Age" name="age">
  <input type="text" placeholder="Image" name="image">
  <input type="submit">
</form>

  <script src="/public/javascripts/script.js"></script>
</body>

</html>