
<% include ./partials/header.ejs %>
<div class="container p-4">
  <h3>Register</h3>
  <form action="/register" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">name</label>
      <input type="text" name="name" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">email</label>
      <input type="text" name="email" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">image</label>
      <input type="text" name="image" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <a class="nav-link" href="/">Login-->></a>
    <br>
    <button type="submit" class="btn btn-primary">Create A Account</button>
  </form>
</div>
<% include ./partials/footer.ejs %>