* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
}

#nav {
    padding: 1.5% 4%;
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;




}

#part1 {

    display: flex;
    gap: 10px;
    display: flex;
    gap: 40px;


}

#nav img {
    height: 30px;
    width: 30px;
}

#nav h4 {
    border-bottom: 2px solid #fff;

}

#part2 {

    display: flex;
    gap: 30px;

}

#center {
    position: relative;
    overflow: hidden;
    height: 90%;
    width: 100%;

}

h4:hover {
    cursor: pointer;
    color: red;
}

#central1 {
    display: flex;
    position: relative;
    height: 40%;
    width: 100%;
    justify-content: space-between;

}


#storie1 {
    position: absolute;
    top: 30%;
    left: 5%;
}



#central1 img {
    height: 80px;
    width: 80px;
}

#storie2 {
    position: absolute;
    left: 60%;
    top: 10%;
    right: 10%;
    text-align: center;
}

p {
    font-family: "Brush Script MT";
    font-size: 24px;
}

p:hover {
    color: yellow;
}

button {
    color: white;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 2%;

}

button:hover {
    cursor: pointer;
    color: black;
    background-color: #fff;
}

#central1 h2 {
    font-size: 120px;
    font-family: "Cooper";
    color: yellow;

}

#central1 h2:hover {
    cursor: pointer;
    color: red;

}

#central2 {
    position: absolute;
    height: 60%;
    width: 100%;
    overflow-x: auto;

}

::-webkit-scrollbar {
    display: none
}



.last {
    display: flex;
    width: 120%;
    height: 340px;
}

h1 {

    text-align: center;
    padding-top: 10%;
    margin-left: 5%;
    font-family: "Engravers MT";
}


#thor {
    background-image: url(https://i.pinimg.com/564x/17/c4/02/17c402b2fedd1f786f367b62ed1d2315.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;



}

#panther {
    background-image: url(https://i.pinimg.com/564x/21/69/b8/2169b8766bc91e752779c0e73e5cfc15.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;


}

#spider {
    background-image: url(https://i.pinimg.com/564x/4e/72/0f/4e720f7dea72a26774802539e9b6c715.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

}

#captain {
    background-image: url(https://i.pinimg.com/564x/93/40/68/934068b08f1262099f9a87a6bcb29fb2.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

}

#iron {
    background-image: url(https://i.pinimg.com/564x/3c/94/2e/3c942e4b20a1c6f8666f80eac6797620.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

}

#hulk {
    background-image: url(https://i.pinimg.com/564x/5b/45/0b/5b450bec9e9f75a0e357feaea8502f62.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;

}

#thor:hover {
    background-color: rgba(255, 255, 0, 0.466);
    background-blend-mode: soft-light;

}

#hulk:hover {
    background-color: rgba(11, 230, 11, 0.466);
    background-blend-mode: soft-light;

}

#captain:hover {
    zoom: 150%;
    background-color: rgba(25, 0, 255, 0.466);
    background-blend-mode: soft-light;

}

#iron:hover {
    zoom: 300%;
    background-color: rgba(181, 243, 10, 0.466);
    background-blend-mode: soft-light;

}

#spider:hover {
    zoom: 200%;
    background-color: rgba(255, 0, 0, 0.26);
    background-blend-mode: soft-light;

}

#panther:hover {
    zoom: 150%;
    background-color: rgba(255, 94, 0, 0.466);
    background-blend-mode: soft-light;

}