<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS-CODE</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="main">
        <div id="left">
            <h4>Vs- Code</h4>
            <div id="line"></div>
            <div class="fileicon">
                <h5>Folder Name</h5>
                <div class="icons">
                    <i id="filecreate" class="ri-file-add-fill"></i>
                    <i id="foldercreate" class="ri-folder-add-fill"></i>
                    <i class="ri-restart-fill"></i>
                </div>
            </div>
            <form id="fileform" action="/filecreate">
                <input name="filename" type="text" placeholder="filename">
            </form>
            <form id="folderform" action="/foldercreate">
                <input name="foldername" type="text" placeholder="foldername">
            </form>
            <div class="files">
                <% files.forEach(function(elem){ %>
                  <h5 class="file">
                    <% if(elem.isDirectory()){ %>
                      <i class="ri-folder-3-fill"></i>
                   <% } else{ %>
                    <i class="ri-file-text-fill"></i>
                  <% } %>
                  <% if(elem.isDirectory()){ %>
                    <%= elem.name %>
                 <% } else{ %>
                  <a href="/file/<%= elem.name %>"><%= elem.name %></a>
                <% } %>
                  </h5>
               <% }) %>
            </div>
        </div>
        <div id="right">
            <small>
                nothing here
            </small>
        </div>
    </div>

    <script>
        function turnOffBoth() {
            var allele = [...document.querySelectorAll("form")];
            allele.forEach(function (elem) {
                elem.style.display = "none";
            })
        }
        var filecreate = document.querySelector('#filecreate');
        filecreate.addEventListener("click", function () {
            turnOffBoth();
            document.querySelector("#fileform").style.display = "initial"
        })
        var foldercreate = document.querySelector('#foldercreate');
        foldercreate.addEventListener("click", function () {
            turnOffBoth();
            document.querySelector("#folderform").style.display = "initial"
        })
    </script>
</body>

</html>