<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Users</title>
</head>
<body>
  <h3>Registration Form</h3>
  <form action="/register" method="post">
    <input type="text" name="username" placeholder="Enter Your UserName">
    <input type="password" name="password" placeholder="Enter Your Password">
    <input type="text" name="image" placeholder="Enter Your image">
    <input type="submit" value="Create">
  </form>
</body>
</html>