<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        img{
            height: 200px;
            width: 200px;
            border-radius: 50%
        };
        h2{
            background-color: #000;
            color: white;
            font-size: 1px;
        };
    </style>
</head>
<body>
    <img src="<%= user.image %>" alt="">
    <h2><%= user.username %></h2>
</body>
</html>