* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
}

html,
body {
    height: 100%;
    width: 100%;
}

#bg {
    background-image: radial-gradient(circle, rgb(0, 238, 255) 5%, white 60%, rgb(250, 237, 212));
    height: 100%;
    width: 100%;


}

#main {
    position: relative;
    background-image: radial-gradient(circle, rgb(0, 238, 255) 10%, white 60%, red 1000%);
    height: 80%;
    width: 80%;
    border-radius: 30px;
    top: 10%;
    left: 10%;
    border: .5px solid black;


}

#nav {
    position: relative;
    border-bottom: .5px solid red;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
}

#logo img {
    position: absolute;
    height: 90%;
    top: 10%;
    left: 4%;
}

#logo h1 {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 10%;
    font-family: "Harrington";
}

#home {
    gap: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6% 5%;

}

#home h2 {
    color: black;
}

#bg2 {
    height: 80%;
    width: 100%;
    display: flex;
}

#main1 {
    position: relative;
    height: 100%;
    width: 50%;

}

#main2 {
    position: relative;
    height: 100%;
    width: 50%;
}



#main1 h1 {
    padding: 7% 0% 0% 8%;
    font-size: 60px;
    font-family: "Chiller";
}

#main1 p {
    padding: 1% 0%0%7%;
    font-family: "Fixedsys";
    font-size: 17px;
    line-height: 150%;
}

#buttom button {
    padding: 1% 10%;
    background-color: rgb(60, 60, 255);
    color: #fff;
    border-radius: 30px;
}

#buttom img {
    height: 30px;
    width: 30px;
}

#buttom {
    gap: 10%;
    padding: 5% 7%;
    display: flex;
    justify-content: center;

}

#h4 {
    display: flex;
    gap: 10%;
}



#main2 img {
    position: absolute;
    top: 10%;
    left: 5%;
    height: 90%;
    width: 90%;
}