@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background: #000;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#background {
    position: relative;
}

h1 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
}

h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px red;
}

h1:nth-child(2) {
    color: rgb(0, 183, 255);
    animation: animate 1s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

























/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
}

#background {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            red 0%,
            white 29%,
            yellow 67%,
            orange 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-shadow: 0px 0px 700px #fff, 0px 0px 1200px white;
    color: black;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite both;
    display: inline-block;
    font-size: 60px;
    font-family: "Algerian";
    letter-spacing: 30px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
} */